{% extends 'layout/html.twig' %}
{% block main_content %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['timeline']}]}"></script>
<script type="text/javascript">
google.setOnLoadCallback(drawChart);

function drawChart() {
  var container = document.getElementById('timeline');

  var chart = new google.visualization.Timeline(container);

  var dataTable = new google.visualization.DataTable();

  dataTable.addColumn({ type: 'string', id: 'Device' });
  dataTable.addColumn({ type: 'string', id: 'IP' });
  dataTable.addColumn({ type: 'date', id: 'Start' });
  dataTable.addColumn({ type: 'date', id: 'End' });

  dataTable.addRows([
    {% autoescape false %}
    {% for row in rows %}
        [ '{{row.device}}', '{{row.ip}}',  new Date({{row.start|date("Y, n, j, H, i, s") }}), new Date({{row.end|date("Y, n, j, H, i, s") }}) ],
    {% endfor %}
    {% endautoescape %}
  ]);
  var options = {
    timeline: { colorByRowLabel: true }
  };
  chart.draw(dataTable, options);
}

window.onload = function() {
    $("#dateselect").change(function() {
        window.location = "/graph/" + $("#dateselect option:selected")[0].value
    })
}

</script>
<label for="dateselect">Choose date:</label>
<select id="dateselect">
{% for date in dates %}
    {% if app.request.get('date') == date.date|date("Y-m-d") %}
        <option value="{{date.date|date("Y-m-d")}}" selected="selected">{{date.date|date("Y-m-d")}} ({{date.count}})</option>
    {% else %}
        <option value="{{date.date|date("Y-m-d")}}">{{date.date|date("Y-m-d")}} ({{date.count}})</option>
    {% endif %}
{% endfor %}
</select>
<br /><br />
<div id="timeline"></div>

{% endblock %}
